.article-heading {
  color: brown;
  text-transform: capitalize;
  margin-left: 3em;
}
.home-article-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
